<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Alzheimer's disease Classification</title>

    <!--

    Breezed Template

    https://templatemo.com/tm-543-breezed

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="static/assets/css/lightbox.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        ALZHEIMER'S
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{{url_for('index')}}" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#upload">Upload</a></li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Search Area ***** -->
<div id="search">
    <button type="button" class="close">×</button>
    <form id="contact" action="{{url_for('index')}}" method="get">
        <fieldset>
            <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
        </fieldset>
        <fieldset>
            <button type="submit" class="main-button">Search</button>
        </fieldset>
    </form>
</div>

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img src="static/assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                    <h5 style="font-family:serif;font-style: italic;font-weight: bold;text-transform: uppercase;font-size:300%;color:black;">Alzheimer's disease</h5>

                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img src="static/assets/images/slide-02.jpg" alt="">
                <div class="text-content">
                    <h5 style="font-family:serif;font-style: italic;font-weight: bold;text-transform: uppercase;font-size:300%;color:black;">Classification</h5>
                </div>
            </div>
        </div>
                <!-- // Item -->
    </div>
</div>
<div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6 style="font-weight: bold;">About Project</h6>
                        <h2 style="text-transform: uppercase;">About the Alzheimer's</h2>
                    </div>
<!--                    <div class="row">-->
<!--                        <div class="col-md-6 col-sm-6">-->
<!--                            <div class="service-item">-->
<!--                                <img src="static/assets/images/service-item-01.png" alt="">-->
<!--                                <h4>Top Notch</h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 col-sm-6">-->
<!--                            <div class="service-item">-->
<!--                                <img src="static/assets/images/service-item-01.png" alt="">-->
<!--                                <h4>Robust</h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 col-sm-6">-->
<!--                            <div class="service-item">-->
<!--                                <img src="static/assets/images/contact-info-03.png" alt="">-->
<!--                                <h4>Reliable</h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 col-sm-6">-->
<!--                            <div class="service-item">-->
<!--                                <img src="static/assets/images/contact-info-03.png" alt="">-->
<!--                                <h4>Up-to-date</h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-12">-->
<!--                            <a href="#" class="main-button-icon">-->
<!--                                Learn More <i class="fa fa-arrow-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-text-content">
                    <p>Alzheimer's disease is a progressive neurologic disorder that causes the brain to shrink (atrophy) and brain cells to die. Its  most common cause of dementia — a continuous decline in thinking, behavioral and social skills that affects a person's ability to function independently.
                        <br>Brain cell connections and the cells themselves degenerate and die, eventually destroying memory and other important mental functions.Memory loss and confusion are the main symptoms.No cure exists, but medication and management strategies may temporarily improve symptoms.
                        <br>Cognitive: mental decline, difficulty thinking and understanding, confusion in the evening hours, delusion, disorientation, forgetfulness, making things up, mental confusion, difficulty concentrating, inability to create new memories, inability to do simple maths, or inability to recognise common things.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" id="upload">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2 style="background-color:powderblue;padding-left: 450px;">Upload Image</h2>
                </div>
            </div>

            <div class="container-fluid">
                <form id="contact" action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
                    <div class="row" style="padding-left: 0px;padding-right: 0px;height: 132px;width: 924px;">
                        <div class="col-md-8">

                            <div class="form-group">
                                <!--                                        <label for="pwd">Upload Image</label>-->
                                <fieldsetx>
                                    <input type="file" class="form-control" id="pwd"accept="image/*" required="" multiple name="file">
                            </div>
                            <select name="alg">
                                <option  value="-1" >Choose Model</option>
                                <option value="1" >cnn</option>
                                <option  value="2" >mobilenet</option>
                                <option  value="3" >vgg</option>
                                <option  value="4" >alexnet</option>

                            </select>
                            </fieldset>
                        </div>
                        <center>
                            <div class="col-md-10">
                                <fieldset style="height:60px;">
                                </fieldset>
                            </div>
                        </center>
                        <div class="col-md-10">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button">Submit</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- ***** Projects Area Ends ***** -->

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6 style="font-style: italic;font-weight: bold;text-transform: uppercase;">Thank You</h6>

                </div>
            </div>

    </div>
</section>




<!-- jQuery -->
<script src="static/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="static/assets/js/popper.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="static/assets/js/owl-carousel.js"></script>
<script src="static/assets/js/scrollreveal.min.js"></script>
<script src="static/assets/js/waypoints.min.js"></script>
<script src="static/assets/js/jquery.counterup.min.js"></script>
<script src="static/assets/js/imgfix.min.js"></script>
<script src="static/assets/js/slick.js"></script>
<script src="static/assets/js/lightbox.js"></script>
<script src="static/assets/js/isotope.js"></script>

<!-- Global Init -->
<script src="static/assets/js/custom.js"></script>

<script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

</body>
</html>