<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Alzheimer's disease Classification</title>

    <!--

    Breezed Template

    https://templatemo.com/tm-543-breezed

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="static/assets/css/lightbox.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->

<section class="section" id="about" style="background-color:#DBF9FC;padding-bottom: 41px;">
    <div class="container" style="border-bottom-width: 0px;">
        <div class="row"  style="width: 709px;padding-left: 127px;>
            <div class="container mt-5">
                <div class="slide" id="Result">
                    <div class="content fourth-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <img src=" {{url_for('send_image', filename=image_name)}}" style="width:530px;height:300px;background-color:#DBF9FC"><br>
                                        <h2 style="color:green; width:380px;font-style: italic;font-weight: bold;text-transform: uppercase">{{ text }} {{ a }}</h2>

                                        <centre style="width:360px;"> <a style="text-decoration: none; display: block; margin: 20px auto;" class="btn btn-primary btn-block btn-large" href="upload" role="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Predict Another image</a>
                                        </centre>

                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>